<% current_menu_item 'home'%>

<h2>Pizarras:</h2>

<!--#################### div buscador ##################### -->
  
  <div id="contentBuscador" > 
   
   <div id='separator'></div>
   
    <fieldset id="fieldsetBuscador" >
      <legend> B&uacute;squeda de Avisos </legend>
          <%= render   :partial    => "pizarraSearch" %>
   </fieldset>
    
     &nbsp;&nbsp;&nbsp;  
  
  </div>
  
  <!-- ############## Bloque Login ############ -->
   <div>   
     <%= render :partial=> "/sessions/new" %>
   </div>
  
  <!-- ############## FIN Bloque Login ############ --> 
  
  <div class='contentHome'>
    <table style="">
     <!-- ############## encabezado ############ -->
     <tr>
       <td align="center" style="width:260px">
          <%= text_header_index %>
       </td>
       <td style="width:280px">&nbsp;</td>
     </tr>
     
    <!-- ############## TD DETALLES PIZARRAS ############ -->
    
    <% for pizarra in @pizarras %>
      <tr >
      
      <td align="center" style="border-bottom:solid 1px #7CE1E1;">
        
         <table style="margin-left:80px;">
          <tr>
            <td  >
               <%= link_to image_tag("/images/ver3.jpg", 
                                :title=> "Ver pizarra"), 
                                pizarra %>
            </td>
               
            <td width="140px">
              <h3><%= pizarra.nombre %></h3>
            </td>
           </tr>
         </table>
       
       </td>
            
       <td id="tdIndex" align="center" >
          <%= date_last_aviso(pizarra) %>
       </td>
      
      </tr>
      

   <% end %>
   
   <tr><td colspan="2" id="paginate"><%= will_paginate %></td></tr> 
     
  </table>
  
  
 </div> 
