<% current_menu_item 'home'%>



<!--#################### div buscador ##################### -->
  
  <div id="contentBuscador" > 
   Buscador de Avisos
  
     <%= render :partial=> "pizarraSearch" %>
   
    
     &nbsp;&nbsp;&nbsp;  
  
  </div>
  




  
  <!-- ############## FIN Bloque Login ############ --> 
  
  <div class='contentHome'>
    Pizarras
   
   <table style="text-align:center;margin: 0 auto;text-align: left;">
     <!-- ############## encabezado ############ -->
     <tr>
       <td align="center" style="width:260px">
          <%= text_header_index %>
       </td>
       <td style="width:280px">&nbsp;</td>
     </tr>
     
    <!-- ############## TD DETALLES PIZARRAS ############ -->
    
    <% for pizarra in @pizarras %>
      <tr >
      
      <td align="center" style="border-bottom:solid 1px #7CE1E1;">
        
         <table >
          <tr>
            <td  >
               <%= link_to image_tag("/images/ver3.jpg", 
                                :title=> "Ver pizarra"), 
                                pizarra %>
            </td>
               
            <td width="140px">
              <h3><%= pizarra.nombre %></h3>
            </td>
           </tr>
         </table>
       
       </td>
            
       <td id="tdIndex" align="center" >
          <%= date_last_aviso(pizarra) %>
       </td>
      
      </tr>
      

   <% end %>
   
   <tr><td colspan="2" id="paginate"><%= will_paginate %></td></tr> 
     
  </table>
  
   
 </div> 
