<% current_menu_item 'Admin'%>

<h1> <%= cabecera %> </h1>
 
<% form_for([:admin, @pizarra]) do |f| %>
  
  <div class='admin'>
  
   <ul id="ulError">
    <%=  error_messages_for:pizarra,
       :header_message => "Error:",
       :message => "El problema es con el siguiente campo:" %>
   </ul>
   
   
   <div id="formAdmin"> 
       <p>
         <h1> <%= f.label :nombre %></h1><br/>
              <%= f.text_field :nombre %>
       </p>
   
    </div>

   <div id="formAdmin">
    <div id='buttonForm'>
     <p>

       <%= image_submit_tag nombre_image %>

     </p>
    </div>
   </div>

<% end %>

 <div id="pieForm">
    <% if modo == 'edicion' %>

        <%= link_to 'Mostrar', @pizarra %> |

    <% end %>

    <%= link_to 'Volver', admin_pizarras_path %> 

  </div>  
  
 <div>
