<%= javascript_include_tag :defaults %>
<%= javascript_include_tag :fckeditor %>
<%= javascript_include_tag 'pizarra_logic' %>

<% current_menu_item 'home'%>
 <b>Pizarra:</b>

 <%=h @pizarra.nombre %>

 <div id="pizarra" >
  
 </div>
 <div id="contentNote">
   <%= render (:partial => "pizarra") %>
 </div>
 

  <ul>
    <li id="aviso" class="note">
       <b>Nota:</b>
         <%= render :partial=> @aviso %>
    </li>
  </ul>

   
  <%= draggable_element('aviso') %>


  <%= drop_receiving_element ("pizarra",
        :method => "post",
        :accept => "note", 
        :update => "aviso",
        :url =>  pizarra_avisos_path(@pizarra),
        :with => "'contenido='+ unEscape()",
        :loading => visual_effect(:BlindDown),
        :complete => "location.reload(true);" ) %>
      


   
      <%= image_tag "trash.jpg", :id=>'trash', :onMouseOut=>"empty_trash()"%>
   


  <%= drop_receiving_element ("trash",
        :accept => "notes", 
        :update => @aviso.css_id,
        :url => {:action=>:trash_aviso},
        :with => "'idNote='+ (element.id.split('-').last())",
        :onHover => "function() {fill_trash()}",
        :loading => "new Effect.Scale(element.id, 2)",
        :complete => "empty_trash();new Effect.Fade(element.id);") %>
 </div>