<h1>Editing aviso</h1>

<% form_for(@aviso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </p>
  <p>
    <%= f.label :pizarra %><br />
    <%= f.text_field :pizarra %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @aviso %> |
<%= link_to 'Back', avisos_path %>
