<%= render( :file => "layouts/_cabecera.html.erb",

            :use_full_path => true,

            :locals        => { :title => "Pizarra" } )

%>

<div id="header">

     <div id="logo">
        <h1>Pizarra Online</h1>
     </div>
    
    <!-- ############## Bloque Login ############ -->
     <div id="newsession">   
        <%= render :partial=> "/sessions/new" %>
	<%= flash[:notice] %> 
     </div>
     
  
  <div id="header_inner"> 
     
     <div id="menu">
      
       <ul>
         <li <%= @current_home %> >
            <%= link_to 'Home', "/" %>
         </li>

         <% if logged_in? %>
          
            <li><%= link_to 'Logout', logout_url %></li>
          
             <li <%= @current_Admin %> >
               <%= link_to 'Admin', admin_pizarras_path %>
             </li>  
          
          
         <% else %>
             <li <%= @current_SignUp %> >
                 <%= link_to 'Registraci&oacute;n', signup_url %>
            </li>
       
        
         <% end %> 
       </ul>
   </div>
  
 </div>

</div>
<div id="login">
          
	  <% if logged_in? %>
               <p> 
                 <span>Usuario:</span> 
                   <%= current_user.login %>
                </p>  
               <% else %>
                  
          <% end %>
</div>
 <div id="main">
            <div id="primaryContent_columnless">
                  
               <div id="columnA_columnless">
                 <%= yield %>
                
                </div>

            </div>

      

</div>            






           

<%= render(:file => "layouts/_pie.html.erb", :use_full_path => true ) %>
